*{
    margin: 0;
    padding: 0;
}

.maindiv{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftdiv{
    width: 600px;
}

.rightdiv{
    width: 650px;
    height: 600px;
    background-color: #f0f0f5;
    overflow-y: scroll;
    border: 1px solid black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}